[submodule "techpack/audio"]
	path = techpack/audio
	url = https://github.com/OnePlusOSS/android_kernel_oneplus_sdm845_techpack_audio.git
	branch = oneplus/SDM845_R_11.0
[submodule "dtc"]
	path = dtc
	url = https://github.com/Grill-Laux/android_prebuilts_misc_linux-x86_dtc_dtc
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/bot-wxt1221/KernelSU
